<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="height:724px;">
    <div data-title="本代码由疯狂的美工装修助手自动生成" class="TWidgst7288taigyer footer-more-trigger sn-simple-logo most-footer mgzxzs_qpdm" style="z-index:1;width:1920px;height:724px;padding:0;left:50%;top:auto;border:0px solid red;background:none;">
        <div class="TWidgst7288taigyer footer-more-trigger sn-simple-logo most-footer" style="width:1920px;height:724px;padding:0;left:-50%;top:0px;border:0px solid red;background:none;overflow:hidden;">
            <div style="width:1920px;margin:0 auto;background:url(//assets.alicdn.com/s.gif) no-repeat top center fixed;">
                <div class="FKRD_Crazy_kxlej" style="height:724px;width:1920px;background:url(//gdp.alicdn.com/imgextra/i1/2200648568233/O1CN01g6Pq3f2AglJbEwJKJ_!!2200648568233.jpg);overflow:hidden;position:relative;">
                    <div data-title="本代码由疯狂的美工装修助手生成 www.fkdmg.com" class="Crazy_dlowd1 freeze-layer footer-more-trigger tad_help_link sn-simple-logo footer-more most-footer fkmgrequ" style="position:relative;width:0px;height:0px;padding:0px;border:none;display:block;top:4px;left:0px;z-index:3;margin:0px;background:none;display:block;overflow:visible;">
                        <a style="background:none;display:block;width:1897px;height:877px;padding:0px;border:none;display:block;z-index:26;" href=" " target="_blank"><img src="//gdp.alicdn.com/imgextra/i1/2200648568233/O1CN01g6Pq3f2AglJbEwJKJ_!!2200648568233.jpg" /></a >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>