<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-4.3.xsd">
        <!--注解扫描驱动-->
        <mvc:annotation-driven>
            <!--配置路径-->
        </mvc:annotation-driven>
        <context:component-scan base-package="com.hua.fileplat.cloud.*.controller"/>
        <!--  配置多个视图解析-->
        <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
            <property name="viewResolvers">
                <list>
                    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                        <!-- 配置视图层 使用jstl标签 -->
                        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
                        <!--<property name="viewNames" value="*.jsp"></property>-->
                        <property name="prefix" value="/WEB-INF/view/"></property>
                        <property name="suffix" value=".jsp"></property>
                        <!--顺序-->
                        <property name="order" value="1"></property>
                    </bean>
                </list>
            </property>
        </bean>
        <!--配置静态资源-->
        <mvc:resources mapping="/static/**" location="/WEB-INF/view/static/"></mvc:resources>
        <!--mapping：映射    
            location：本地资源路径，注意必须是webapp根目录下的路径。          
            两个*，它表示映射resources/下所有的URL，包括子路径（即接多个/）-->

        <!--统一错误处理-->
        <bean class="com.hua.fileplat.cloud.base.exception.SpringHandlerExceptionResolver"></bean>



<!--配置视图控制器
    请求转发 / 到 home
    <mvc:view-controller path="/" view-name="home"/>


    <mvc:status-controller path="/cloud/status/" status-code="404" ></mvc:status-controller>
-->









</beans>