<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta content="text/html" />
    <meta charset="UTF-8">
    <title>欢迎光临</title>
    <script type="text/javascript" src="/static/js/jquery/jquery-3.1.1.min.js"></script>
    <link type="text/css" href="/static/js/layui/css/layui.css">
    <script type="text/javascript" src="/static/js/layui/layui.all.js"></script>

    <script type="text/javascript">
        var wsocket;
        function connect() {
            wsocket = new WebSocket("ws://localhost:8080/index/echo");
            wsocket.onmessage = onMessage;
        }
        /**
         * 接收到服务器发过来的消息
         * @param evt
         */
        function onMessage(evt) {
            var data = evt.data;
            console.log(data);
            if(typeof data == "string"){
                data=$.parseJSON(data);
            }
            $("#content").append("<p style='background-color:#89033e;color:#fff;'>"+data.data+"</p>");
        }
        window.addEventListener("load", connect, false);//连接socket
        $(function(){
           $("body").on("click","#send",function(){
               var value=$("#sendContent").val();
               if(value == "" || value == null){
                   layui.use("layer",function(){
                       var layer=layui.layer;
                       layer.msg("请输入消息后，点击发送");
                   });
               }else{
                   var sendData={};
                   sendData.result=true;
                   sendData.data=value;
                   $("#content").append("<p style='background-color:#FF5722;color:#fff;'>"+value+"</p>");
                   var str=JSON.stringify(sendData);
                   console.log(str);
                   wsocket.send(str);
               }
           });
        });
    </script>
</head>
<body>

<div>
    <div>
        <textarea rows="3" cols="20" id="sendContent"></textarea>
        <button id="send">发送</button>
    </div>
    <div id="content">

    </div>
    <a href="/to_login">登录</a>
</div>



</body>
</html>
